.school3_baner {
  width: 100%;
  height: 100px;
  border: 1px solid #0f233a;
  margin-bottom: 5px;
}

.school3_baner-img {
  width: 30%;
  height: 100px;
  float: left;
  padding: 5px;
}

.school3_baner-img img {
  width: 100px;
  height: 88px;
}

.school3_baner-text {
  width: 69%;
  height: 100px;
  float: left;
  padding: 5px;
}

body.right-sidebar .main-content-area {
  margin-bottom: 40px;
}

#fix-hmc-post-title a {
  text-transform: none;
}

/**
 * Средний слайдер
 */
.middle-slider {
  width: 100%;
  height: 500px;
}

.middle-slider__images {
  float: left;
  width: 70%;
  height: 500px;
  padding-right: 20px;
}

.middle-slider__banners {
  float: left;
  width: 29.8%;
  height: 500px;
}
/**
 * Средний банерный ряд
 */
.middle-baners {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.middle-baners-left,
.middle-baners-center,
.middle-baners-right {
  width: 33.3%;
  height: auto;
  float: left;
  margin-bottom: 20px;
}

.middle-baners-left {
  padding-right: 10px;
}

.middle-baners-center {
  padding-right: 10px;
  padding-left: 10px;
}

.middle-baners-right {
  padding-left: 10px;
}

/**
 * Яндекс карты
 */
.middle-yandex {
  width: 100%;
  height: 500px;
}

.middle-yandex__images {
  float: left;
  width: 70%;
  height: auto;
  padding-right: 20px;
}

.middle-yandex__banners {
  float: left;
  width: 29.8%;
  height: auto;
}

.section-title-doc {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
  padding-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
}

.news__block {
  width: 100%;
  height: auto;
  border: 1px dotted #0f233a;
  padding: 20px;
  margin-bottom: 10px;
}

.news__block h5 {
  font-size: 16px;
}

.pagination_news {
  width: 100%;
  height: 100px;
}

/* Pagination */
.pagination {
  clear: both;
  position: relative;
  font-size: 11px; /* Pagination text size */
  font-size: 15px;
  line-height: 13px;
  font-family: "Exo2Regular", sans-serif;
  float: right; /* Pagination float direction */
}

.pagination span,
.pagination a {
  display: block;
  float: left;
  margin: 2px 2px 2px 0;
  padding: 6px 9px 5px 9px;
  text-decoration: none;
  width: auto;
  color: #fff; /* Pagination text color */
  background: #0f233a; /* Pagination non-active background color */
  -webkit-transition: background 0.15s ease-in-out;
  -moz-transition: background 0.15s ease-in-out;
  -ms-transition: background 0.15s ease-in-out;
  -o-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}

.pagination a:hover {
  color: #fff;
  background: #ed9532; /* Pagination background on hover */
}

.pagination .current {
  padding: 6px 9px 5px 9px;
  background: #ed9532; /* Current page background */
  color: #fff;
}

/* end Пагинация*/

/*Link на сайт разрабочика*/

.site-info p {
  margin-bottom: 0px;
}

.site-info span {
  color: #ed9532;
}

/* Museum */
.museum-content {
  width: 100%;
  height: auto;
}

.museum-content-title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
  padding-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
}

.museum-content-info {
  width: 70%;
  height: auto;
  float: left;
}

.museum-content-img {
  width: 100%;
  height: auto;
  padding: 40px;
}

.museum-content-img-wrapper {
  width: 80%;
  height: auto;
  margin: 0 auto;
}

.museum-content-text {
  width: 100%;
  height: auto;
  padding: 40px;
}

.museum-content-news {
  width: 100%;
  height: auto;
  padding: 40px;
}

.museum-content-sidebar {
  width: 29%;
  height: auto;
  float: left;
}

.museum-content-area {
  float: left;
  width: 100%;
}

/* Announce */

.annouce-section {
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.annouce-content {
  width: 63%;
  height: auto;
  margin: 0 auto;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border: 1px solid #0f233a;
}

.annouce-content p {
  text-indent: 5%;
  font-size: 16px;
}

.block_bvi {
  width: 100%;
  height: 70px;
}

html body a.bvi-link-widget,
html body a.bvi-link-shortcode {
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
  border-radius: 2px;
  display: inline-block;
  padding: 5px 10px;
  vertical-align: middle;
  text-decoration: none;
  width: 100%;
  text-align: center;
}

.middle-yandex-contact {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  padding: 10px 20px;
  border: 1px solid #0f233a;
}

.middle-yandex-contact p {
  margin-bottom: 0px;
}
